body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAD2B2;
    padding: 40px;
    box-shadow: 20px 20px 60px rgba(255, 182, 193, 0.6);
    transition: box-shadow 0.3s ease-in-out;
    color: rgb(0, 0, 0);
    z-index: 1000;
}

.header:hover {
    box-shadow:  150px 150px 300px rgba(255, 182, 193, 0.6);
}

.search-bar {
   padding: 10px;
   margin-right: 70px;
   width: 500px;
   height: 50px;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.navigate-button {
    background-color: rgb(224, 177, 184);
    border: none;
    color:#000;
    font-size: 48px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    padding: 15px 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.navigate-button:hover {
    box-shadow: 0 24px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.title {
    background-color: rgb(224, 177, 184);
    margin-left: 40px;
    padding: 30px;
    font-size: 72px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin-left: 400px;
    margin-right: 200px;
}

.playlistCards {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
   padding: 20px 0;
   width: 100%;
   box-sizing: border-box;
}

@media (max-width: 768px) {
   .card {
       width: 80%;
   }
}

.playlistCover {
    width: 100%;
    border-radius: 8px;
    border: 3px solid #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playlistName {
   font-size: 24px;
   font-weight: bold;
   margin-top: 10px;
}

.playlistCreator {
   font-size: 18px;
   color: #666666;
   margin-bottom: 20px;
}

.likeCountImage {
   font-family: 'Font Awesome 5 Free';
   font-weight: 400;
   color: #000000;
   cursor: pointer;
   font-size: 24px;
}
.likeCountImage.liked {
   color: rgb(249, 0, 0);
   font-weight: 900;
}

.likeCount {
   font-size: 18px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-top: auto;
}

.card {
   flex: 0 0 25%;
   background-color: #FFC0CB;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin: 20px;
   margin-top: 400px;
   padding: 15px;
   height: auto;
   transition: transform 0.3s ease-in-out;
   display: inline-block;
   vertical-align: top;
}

.card:hover {
   transform: scale(1.05);
   cursor: pointer;
}

.playlistCover {
   width: 100%;
   border-radius: 8px;
   border: 3px solid #FFFFFF;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playlistName {
   font-size: 18px;
   font-weight: bold;
   margin-top: 10px;
}

.playlistCreator {
   font-size: 14px;
   color: #666666;
}

.song-list {
   flex: 2;
   margin-left: 20px;
}

footer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 5%;
   background-color: #FAD2B2;
   font-size: 24px;
   font-weight: bold;
   margin-top: 10px;
  }

/* CSS for Modal */
.modal-overlay {
   display: none;
   position: fixed;
   z-index: 1001;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease, visibility 0.3s ease;
}
.close {
   margin-left:  50px;
   margin-right: 100%;
   font-size:50px;
   cursor: pointer;
   padding: 10px;
   color: #000;
   display: inline-block;
   transition: color 0.3s ease;
}
.close:hover {
   cursor: pointer;
   color: #ff0000;
}

.modal-overlay.open {
   opacity: 1;
   visibility: visible;
}

.modal-content {
   background-color: #FFC0CB;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 5% auto;
   padding: 20px;
   width: 70%;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   max-height: 80vh;
}

.modalHeader {
   background-color: #FAD2B2;
   padding: 20px;
   width: 80%;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 10;
   margin: 15px;

}

.shuffleButton {
   background-color: rgb(224, 177, 184);
   border: none;
   color: rgb(0, 0, 0);
   font-size: 30px;
   cursor: pointer;
   transition: box-shadow 0.3s ease-in-out;
   padding: 15px 30px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
   margin-left: auto;
   margin-right: 50px;
   height: 100px;
   width: auto;
}

.shuffleButton:hover {
   box-shadow: 0 24px 30px rgba(0, 0, 0, 0.3);
   transform: scale(1.05);
}

.playlistSongsContainer {
   display: flex;
   flex-direction: column;
   padding: 20px;
   width: 80%;
   overflow-y: auto;
   max-height: 60vh;
}

.playlistInfo {
   margin-left: 40px;
}

.song {
   background-color: #FAD2B2;
   margin: 10px 0;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: transform 0.3s ease;
}

.songCover {
   width: 50px;
   height: 50px;
   border-radius: 5px;
   margin-right: 10px;
}

.songInfo {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.songTitle {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 5px;
}

.songArtist {
   font-size: 16px;
   color: #353434;
   margin-bottom: 5px;
}

.songAlbum {
   font-size: 16px;
   color: #353434;
}

.songDuration {
   font-size: 16px;
   color: #353434;
   margin-left: auto;
   margin-right: 15px;
}

.playlistNameModal {
   font-size: 44px;
   font-weight: bold;
   margin-top: 10px;
}

.playlistCreatorModal {
   font-size: 34px;
   color: #666666;
}

.song:hover {
   transform: scale(1.05);
}

.songCover {
   width: 100px;
   height: auto;
   border-radius: 5px;
   margin-right: 10px;
}

.songInfo {
   display: flex;
   flex-direction: column;
}

.duration {
   margin-left: auto;
   font-size: 14px;
}


/***** Feautured Page ****/
.container {
   margin-top: 15%;
   display: flex;
   justify-content: space-between;
   padding: 20px;

}

.left-panel {
   width: 60%;
   display: flex;
   flex-direction: row;
   align-content: space-between;
   align-items: center;
   background-color: #FAD2B2;
}

.right-panel {
   width: 40%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-content: space-around;
   justify-content: space-between;

}

.playlistInfoFeatured {
   display: flex;
   flex-direction: row;
   padding: 15px;
   margin-bottom: 20px;
   border-radius: 8px;
   width: 50%;
   margin-left: 20px;
}

.song-list {
   background-color: #FFC0CB;
   padding: 15px;
   margin-right: 20px;
   margin-bottom: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 50%;
   height: 100%;
   overflow-y: auto;
   max-height: 400px;
}

#playlistImageFeatured {
   width: 75%;
   height: auto;
   border-radius: 5px;
   margin: 20px auto;
   display: block;

}

.playlist-info {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center
}

.song-item {
   background-color: #FAD2B2;
   margin: 20px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: flex-start;
   transition: transform 0.3s ease;
}

.playlist-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px 0;
   padding: 10px;
   border-radius: 5px;
   background-color: #FFC0CB;;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   height: 33%;
}

.song-item:hover, .playlist-item:hover {
   transform: scale(1.03);
   cursor: pointer;
}

.song-cover, .playlist-cover {
   width: 150px;
   height: auto;
   border-radius: 5px;
   margin-left: 20px;
}

.playlist-cover{
   margin-left: 100px;
}

.song-title, .playlist-name {
   font-size: 16px;
   font-weight: bold;
}

.playlist-name{
   margin-right: 100px;
   font-size: 30px;
}

.song-artist {
   font-size: 14px;
   color: #666666;
}

.song-duration {
   margin-left: auto;
   font-size: 14px;
   color: #666666;
}

.song-details {
   margin-left: 10px;
}
